body {
  background-color: #ececec;
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-collapse {
  justify-content: end !important;
}

/* // Hero section */

.hero-section {
  display: flex;
}

.hero-text {
  align-items: center;
}
.title-text {
  font-weight: 600;
}

/* // About Section */
#about .title-text {
  justify-self: center;
}
